# Ignore everything
*
# Except

## root files
!README.md
!start.sh

## lazygit
!lazygit/
!lazygit/config.yml

## neofetch
!neofetch/
!neofetch/*

## nvim
!nvim/
!nvim/*.*
!nvim/*/
!nvim/spell/*
!nvim/lua/*
!nvim/lua/**/*

## scripts
!scripts/
!scripts/*

## binaries
!bin/
!bin/*

## zsh
!zsh/
!zsh/*
